body {
  font-family: Roboto, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.movie-list {
  display: flex;
  flex-direction: column;
}

.movie-item {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  margin: 10px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .movie-item {
    flex-direction: column;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .movie-details {
    flex-direction: column;
    align-items: center;
  }
}
